togglApiToken=<fill_this>
togglUserAgent=<fill_this>
togglProjectIds=<fill_this>
togglWorkspaceId=<fill_this>
jiraApiToken=<fill_this>
jiraUsername=<fill_this>
jiraBaseUrl=(replace this by something like 'https://<your_company>.atlassian.net')
